body{
background-color: rgb(255, 255, 255);

}

h1{
    color: rgb(255, 255, 255);
    text-align: center;
    background: rgb(6, 61, 243);
    border-radius: 50px;
}
p{
margin-left: 150px;

}

.imagem{
 display: block;
 margin-left: 590px;
 margin-right: auto;
 border:solid 8px rgb(13, 146, 235);
width: 360px;
}

p{
color:rgb(0, 0, 0);
text-decoration: none;

}