h1 {
    color: rgb(255, 255, 255);
    text-align: center;

}

header {
    background-color: rgb(55, 77, 151);
    border-radius: 50px;
}

nav li {

    display: inline;
    margin-right: 300px;
    color: rgb(255, 255, 255);
}

nav a {
    text-transform: uppercase;
    color:ghostwhite;
    font-weight: bold;
    font-size: 38px;
    text-decoration: none;
}