body{
background-color: rgb(155, 199, 238);

}

h1{
    color: rgb(0, 0, 0);
    text-align: center;
    background: rgb(6, 61, 243);
    border-radius: 50px;
}
p{
margin-left: 150px;

}

.imagem{
 display: block;
 margin-left: auto;


}